<main class="relative w-screen h-screen overflow-hidden">
  <div class="absolute top-0 lg:left-0 h-60 lg:h-full w-full lg:w-5/12 bg-primary">
    <img src="/images/logo.png" alt="Logomarca LudiBox" class="relative z-10 mx-auto mt-5 lg:mt-24 w-56 lg:w-auto sm:w-72 h-auto">
    <img src="/images/ondas.png" alt="Ondas amarelas no canto inferior esquerdo da tela" class="absolute top-8 lg:top-auto lg:bottom-0 lg:left-0 w-full sm:hidden lg:block">
  </div>
  <div class="{{ withOverflow ? 'absolute bottom-0 lg:bottom-auto lg:top-0 lg:right-0 w-full lg:w-7/12 h-[calc(100%-15rem)] lg:h-full overflow-auto' : 'absolute bottom-0 lg:bottom-auto lg:top-0 lg:right-0 w-full lg:w-7/12 h-[calc(100%-15rem)] lg:h-full'}}">
    <div class="h-full mx-12 lg:mx-10 xl:mx-24">
      <ng-content></ng-content>
    </div>
    <img src="/images/cabelinho.png" alt="Mancha laranja no canto superior direito da tela" class="fixed bottom-0 lg:bottom-auto lg:top-0 lg:right-0 left-0 lg:left-auto w-1/4 h-auto rotate-180 lg:rotate-0">
  </div>
</main>