<app-template-telas-iniciais>
  <div class="grid justify-items-center w-full my-4 lg:my-32">
    <header class="grid justify-items-center gap-1.5 mb-4 pt-5 lg:gap-3 lg:mb-6 lg:pt-10">
      <h1 class="text-xl font-extrabold drop-shadow-lg lg:text-3xl">Bem-vindo!</h1>
      <p class="text-placeholder_color font-bold text-xs lg:text-base">Faça seu login</p>
    </header>

    <form action="" class="grid gap-1.5 w-full px-4 sm:px-40 lg:px-16 xl:px-36 mb-2 lg:gap-3">
      <app-input
        for="email"
        label="E-mail"
        id="email"
        type="email"
        placeholder="E-mail *"
        aria-placeholder="digite seu e-mail"
        name="email"
      ></app-input>

      <app-input
        for="password"
        label="Senha"
        id="password"
        type="password"
        placeholder="Senha *"
        aria-placeholder="digite sua senha"
        name="password"
      ></app-input>
    </form>
    <a
      href="#"
      class="font-bold text-primary text-xs lg:text-sm underline justify-self-end pr-7 sm:pr-44 lg:pr-16 xl:pr-36 mb-4 sm:mb-6 lg:mb-8 hover:brightness-110"
      routerLink="/esqueci-minha_senha"
    >
      Esqueceu sua senha?
    </a>
    <app-button-primary
      title="Entrar"
    ></app-button-primary>

    <div class="flex flex-col items-center mt-4 xl:mt-9 gap-1 lg:gap-2">
      <p class="text-placeholder_color font-bold text-xs lg:text-sm">Não possui uma conta?</p>
      <app-button-secondary
        title="Cadastre-se"
        routerLink="/cadastro"
      ></app-button-secondary>
    </div>
  </div>
</app-template-telas-iniciais>
