<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-start pt-28 z-50 overflow-auto">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg">
    <h2 class="text-xl font-semibold mb-4">{{ produtoEditando ? 'Editar Produto' : 'Novo Produto' }}</h2>

    <form [formGroup]="produtoForm" (ngSubmit)="salvar()" class="grid gap-4">
      <app-input formControlName="nome" label="Nome *" [required]="true"
        [invalid]="produtoForm.get('nome')?.invalid && produtoForm.get('nome')?.touched" [maxlength]="50"
        [customErrorMsg]="
      produtoForm.get('nome')?.hasError('minlength')
        ? 'Mínimo de 3 caracteres'
        : produtoForm.get('nome')?.hasError('maxlength')
          ? 'Máximo de 50 caracteres'
          : ''
    " [showCustomError]="
      (produtoForm.get('nome')?.hasError('minlength')
       || produtoForm.get('nome')?.hasError('maxlength'))
      && produtoForm.get('nome')?.touched
    ">
      </app-input>

      <app-input formControlName="descricao" label="Descrição *" [required]="true"
        [invalid]="produtoForm.get('descricao')?.invalid && produtoForm.get('descricao')?.touched" [maxlength]="150"
        [customErrorMsg]="
      produtoForm.get('descricao')?.hasError('minlength')
        ? 'Mínimo de 10 caracteres'
        : produtoForm.get('descricao')?.hasError('maxlength')
          ? 'Máximo de 150 caracteres'
          : ''
    " [showCustomError]="
      (produtoForm.get('descricao')?.hasError('minlength')
       || produtoForm.get('descricao')?.hasError('maxlength'))
      && produtoForm.get('descricao')?.touched
    ">
      </app-input>

      <div class="flex gap-2">
        <app-input type="number" formControlName="altura" label="Altura (cm)" placeholder="220" class="w-1/2" />
        <app-input type="number" formControlName="largura" label="Largura (cm)" placeholder="150" class="w-1/2" />
      </div>

      <div class="flex gap-2">
        <app-input type="number" formControlName="comprimento" label="Comprimento (cm)" placeholder="70"
          class="w-1/2" />
        <app-input type="number" formControlName="pesoSuportado" label="Peso Suportado (kg)" placeholder="220"
          class="w-1/2" />
      </div>

      <div class="flex gap-2">
        <app-input type="number" formControlName="preco" label="Preço *" type="text" [currencyFormat]="true"
          [integerMaxLength]="4" [required]="true"
          [invalid]="produtoForm.get('preco')?.invalid && produtoForm.get('preco')?.touched" class="w-1/2">
        </app-input>
      </div>

      <div class="grid gap-2 items-start">
        <label class="font-semibold text-sm">Imagens (máx. 4) *</label>
        <div *ngIf="produtoForm.hasError('imagensObrigatorias') && produtoForm.touched" class="text-red-500 text-sm">
          Insira pelo menos uma imagem
        </div>
        <div class="flex gap-2 w-full">
          <div *ngIf="imagensExistentes.length > 0" class="flex gap-2">
            <div *ngFor="let imagem of imagensExistentes; let i = index"
              class="relative w-24 h-24 rounded-lg border overflow-hidden">
              <img [src]="'data:image/jpeg;base64,' + imagem" class="object-cover w-full h-full" />
              <button type="button" (click)="removerImagemExistente(i)"
                class="absolute top-1 right-1 bg-black bg-opacity-50 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center"
                title="Remover imagem existente">
                ×
              </button>
            </div>
          </div>

          <app-upload-immagens [arquivos]="arquivosImagens"
            (onArquivosAlterados)="onArquivosAlterados($event)"></app-upload-immagens>
        </div>
      </div>

      <div class="flex items-center justify-end gap-3 pt-4">
        <app-button-secondary title="Voltar" (click)="fechar()"></app-button-secondary>
        <app-button-primary title="{{ produtoEditando ? 'Salvar' : 'Registrar' }}" [disabled]="registrarDisabled" ></app-button-primary>
      </div>
    </form>
  </div>
</div>