<div class="relative w-[250px] h-[160px] border border-gray-200 rounded-lg shadow-md p-3 flex flex-col">
  <div class="flex justify-between items-start mb-4">
    <p class="font-semibold text-gray-800">{{ endereco.nome }}</p>
    <button (click)="toggleMenu()" class="text-gray-500">
      <i class="bi bi-three-dots-vertical text-xl"></i>
    </button>
  </div>

  <p class="text-sm text-gray-600">{{ endereco.rua }}, {{ endereco.numero }} - {{ endereco.complemento }}</p>
  <p class="text-sm text-gray-600">
    {{ endereco.bairro }} - {{ endereco.cidade }} - {{ obterSigla(endereco.estado) }} | CEP: {{ formatarCep(endereco.cep) }}
  </p>

  <div class="absolute top-2 right-2">
    <button (click)="toggleMenu()">
      <i class="fas fa-ellipsis-v"></i>
    </button>

    <div *ngIf="menuAberto" class="absolute right-0 mt-2 w-32 bg-white border rounded shadow-md z-10">
      <button (click)="onEditar()" class="block w-full text-left px-4 py-2 hover:bg-gray-100">Editar</button>
      <button (click)="onDeletar()"
        class="block w-full text-left px-4 py-2 text-red-500 hover:bg-red-100">Excluir</button>
    </div>
  </div>
</div>
