<ng-container>
  <div class="w-[236px] h-[282px] bg-white rounded-[20px] shadow-lg p-4 flex flex-col items-center">
    <div *ngIf="imagem">
      <img [src]="'data:image/jpeg;base64,' + imagem" alt="Imagem anúncio" class="w-[204px] h-[142px] object-cover rounded-[14px]" />
    </div>

    <div class="w-full">
      <div class="text-lg font-semibold mt-3 text-start">{{itemName}}</div>
      <div class="text-md font-bold text-gray-700">R$ {{itemPrice}}</div>
      <div class="flex items-center gap-2 mt-3">
        <img src="{{userImage}} || '/images/person-circle.svg'"  alt="Imagem de usuário" class="w-8 h-8 rounded-full object-cover" />
        <span class="text-sm font-medium">{{userName}}</span>
      </div>
    </div>
  </div>
</ng-container>