<app-template-telas-perfil>
  <div class="max-w-4xl mx-auto p-4 sm:p-6">

    <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between gap-2 sm:gap-3 pb-3 sm:pb-4">
      <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-3 w-full">

        <div class="relative">
          <img  [src]="perfil?.imagemUsuarioEmBase64 ? 'data:image/jpeg;base64,' + perfil.imagemUsuarioEmBase64 : 'images/shrek_colombiano.png'" alt="Foto de perfil"
            class="w-16 h-11 sm:w-20 sm:h-20 rounded-full border-4 border-primary object-contain cursor-pointer hover:opacity-80"
            (click)="abrirModalFoto()" role="button" aria-label="Alterar foto de perfil" />

          <div class="absolute bottom-0 right-0 bg-primary rounded-full p-1">
            <i class="bi bi-pencil text-white text-xs rounded-full"></i>
          </div>

          <input type="file" accept="image/*" hidden #fileInput (change)="onFileSelected($event)" />
          <app-modal-confirmacao *ngIf="isModalFotoOpen" titulo="Alterar foto de perfil"
            mensagem="Tem certeza que deseja alterar sua foto de perfil?" (onConfirmar)="confirmarTrocaFoto()"
            (onCancelar)="fecharModalFoto()">
          </app-modal-confirmacao>

        </div>


      </div>

      <div class="relative">
        <i (click)="isOpen = !isOpen" class="text-2xl sm:text-3xl bi bi-list cursor-pointer hover:text-gray-600"></i>

        <div *ngIf="isOpen" class="absolute right-0 mt-2 w-auto bg-white border rounded-lg shadow-lg z-10">
          <div class="flex items-center gap-2 p-2 hover:bg-gray-100 cursor-pointer" (click)="toggleEdit()">
            <p class="text-sm sm:text-base">Editar</p>
          </div>
          <div class="flex items-center gap-2 p-2 hover:bg-gray-100 cursor-pointer" (click)="excluirPerfil()">
            <p class="text-sm sm:text-base text-red-500"><strong>Desativar</strong></p>
          </div>
        </div>
      </div>
    </div>

    <app-modal-alterar-senha *ngIf="isModalOpen" (onClose)="fecharModal()" (onSenhaAlterada)="onSenhaAlterada()">
    </app-modal-alterar-senha>

    <form [formGroup]="perfilForm" (ngSubmit)="salvarPerfil()" class="grid gap-2 sm:gap-3 w-full max-w-3xl mx-auto"
      *ngIf="perfil?.id">

      <div class="grid text-left">
        <label class="text-base sm:text-lg font-semibold">
          {{ isEditing ? 'Nome/Razão Social*' : 'Nome/Razão Social' }}
        </label>
        <app-input formControlName="nome" id="name" name="name" [disabled]="!isEditing" placeholder="Nome Sobrenome"
          [required]="true" [invalid]="isFieldInvalid('nome')" class="w-full">
        </app-input>
      </div>

      <div class="grid text-left">
        <label class="text-base sm:text-lg font-semibold">
          {{ isEditing ? 'Email*' : 'Email' }}
        </label>
        <app-input formControlName="email" id="email" name="email" [disabled]="!isEditing" placeholder="@exemplo.com"
          [required]="true" [invalid]="isFieldInvalid('email')" class="w-full">
        </app-input>
      </div>

      <div class="grid text-left">
        <label class="text-base sm:text-lg font-semibold">CPF/CNPJ</label>
        <app-input
          id="cpf"
          name="cpf"
          [value]="perfil?.valorDocumento"
          [disabled]="true"
          [placeholder]="perfil?.valorDocumento.toString()"
          [mask]="mascaraDocumento(perfil?.valorDocumento)"
          class="w-full">
        </app-input>
      </div>

      <div class="grid text-left">
        <label class="text-base sm:text-lg font-semibold">
          {{ isEditing ? 'Telefone*' : 'Telefone' }}
        </label>
        <app-input formControlName="telefone" id="phone" name="phone" [disabled]="!isEditing" mask="(00) 0000-0000"
          placeholder="(00) 0000-0000" [required]="true" [invalid]="isFieldInvalid('telefone')" class="w-full">
        </app-input>
      </div>

      <div class="mt-4 sm:mt-6 flex flex-col sm:flex-row justify-between items-center w-full gap-3">
        <button type="button"
          class="w-full sm:w-auto px-3 py-2 bg-primary text-white rounded-lg hover:bg-orangeHover active:bg-orangeActive transition"
          (click)="abrirModal()">
          Editar senha
        </button>

        <div class="flex gap-3 sm:gap-4 w-full sm:w-auto">
          <button type="button"
            class="flex-1 sm:flex-none px-3 py-2 bg-primary text-white rounded-lg hover:bg-orangeHover active:bg-orangeActive transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="!isEditing" (click)="toggleEdit()">
            Cancelar
          </button>
          <button type="submit"
            class="flex-1 sm:flex-none px-3 py-2 bg-primary text-white rounded-lg hover:bg-orangeHover active:bg-orangeActive transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="!isEditing">
            Salvar
          </button>
        </div>
      </div>
    </form>
  </div>
</app-template-telas-perfil>