<app-sidebar [withOverflow]="true" [menuItems]="menuList">
  <div class="flex justify-center items-start min-h-screen mt-5">
    <div class="bg-white p-4 rounded-lg shadow-lg w-full lg:w-4/5 max-w-4xl text-center">
      <div class="flex items-center justify-between gap-4 top-0 pb-6">
        <div class="flex items-center gap-4">
          <img src="images/shrek_colombiano.png" 
            alt="Foto" 
            class="w-20 h-20 rounded-full ml-0 border-4 border-primary object-contain">
          <label class="text-2xl font-semibold">Informações da conta</label>
        </div>
        
        <div class="relative">
          <i (click)="isOpen = !isOpen" class="text-3xl bi bi-list cursor-pointer text-xl hover:text-gray-600"></i>
          <div *ngIf="isOpen" class="absolute right-0 mt-2 w-auto bg-white border rounded-lg shadow-lg z-10">
            <div class="flex items-center gap-2 p-2 hover:bg-gray-100 cursor-pointer" (click)="toggleEdit()" >
              <p class="text-base md:text-lg">Editar</p>
            </div>
            <div class="flex items-center gap-2 p-2 hover:bg-gray-100 cursor-pointer" routerLink="cadastro">
              <p class="text-base md:text-lg text-red-500"><strong>Excluir</strong></p>
            </div>
          </div>
        </div>
      </div>

      <form class="grid gap-4 w-full" *ngIf="perfil?.id">
        <div class="grid w-full text-left">
          <label class="text-lg font-semibold">Nome</label>
          <app-input 
          id="name" name="name" label="Nome Completo" 
          [(ngModel)]="perfil.nome"
          [disabled]="!isEditing"
          class="input-field w-full"></app-input>
        </div>
        <div class="grid w-full text-left">
          <label class="text-lg font-semibold">Email</label>
          <app-input id="email" name="email" label="Email" 
          [(ngModel)]="perfil.email"
          [disabled]="!isEditing"
          class="input-field w-full"></app-input>
        </div>
        <div class="grid w-full text-left">
          <label class="text-lg font-semibold">Documento</label>
          <app-input id="cpf" name="cpf" label="CPF"  [value]="perfil?.valorDocumento" [disabled]="true"
            placeholder="{{ perfil?.valorDocumento }}" class="input-field w-full"></app-input>
        </div>
        <div class="grid w-full text-left">
          <label class="text-lg font-semibold">Telefone</label>
          <app-input id="phone" name="phone" label="Telefone"  
          [(ngModel)]="perfil.telefone"
          [disabled]="!isEditing"
          class="input-field w-full"></app-input>
        </div>
        <div class="grid w-full text-left">
          <label class="text-lg font-semibold">Senha</label>
          <app-input id="password" name="password" label="Senha"  [value]="perfil?.senha" [disabled]="true"
            placeholder="{{ perfil?.senha }}" class="input-field w-full"></app-input>
        </div>
      </form>
      <div class="mt-4 flex justify-between items-center w-full">
        
        <button 
          class="px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary-dark disabled:opacity-50 disabled:cursor-not-allowed">
          Editar senha
        </button>
      
        <div class="flex gap-2">
          <button 
            class="px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary-dark disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="!isEditing">
            Cancelar
          </button>
          <button 
            class="px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary-dark disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="!isEditing"
            (click)="salvarPerfil()">
            Salvar
          </button>
        </div>
      </div>
      


    </div>
  </div>
</app-sidebar>
