<app-template-telas-perfil>
  <div class="p-6">
    <!-- Header com título e botão -->
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-semibold text-gray-800">Meus endereços</h2>
      <div class="flex items-center gap-x-1" (click)="abrirModal()">
        <app-button-secondary title="Adicionar novo endereço"></app-button-secondary>
        <i class="bi bi-plus text-primary text-4xl font-bold"></i>
      </div>
    </div>

    <app-modal-endereco
      *ngIf="isOpen"
      (onClose)="fecharModal()"
      (onEnderecoAdicionado)="onEnderecoAdicionado()"
    >
    </app-modal-endereco>

    <!-- Mensagem de vazio -->
    <ng-container *ngIf="enderecos.length === 0; else listaEnderecos">
      <p class="text-gray-600 text-lg w-2/3 text-left">
        Nenhum endereço cadastrado, clique em
        <strong class="text-primary">"Adicionar novo endereço"</strong>
        para cadastrar o primeiro endereço.
      </p>
    </ng-container>

    <ng-template #listaEnderecos>
      <!-- aqui você renderiza os cards de endereço depois -->
      <div *ngFor="let endereco of enderecos" class="bg-white rounded-md shadow-md p-4 mb-4">
        <p class="font-bold">{{ endereco.nome }}</p>
        <p>{{ endereco.rua }}, {{ endereco.numero }} - {{ endereco.bairro }}</p>
        <p>{{ endereco.cidade }} - {{ endereco.estado }} | CEP: {{ endereco.cep }}</p>
      </div>
    </ng-template>
  </div>
</app-template-telas-perfil>