<app-template-telas-perfil>
  <app-header-telas-perfil-com-add titulo="Meus endereços" botaoTitulo="Adicionar novo endereço" (botaoClicado)="abrirModal()">
    <app-modal-endereco [hidden]="!isOpen" [enderecoEditando]="enderecoSendoEditado" (onClose)="fecharModal()"
      (onEnderecoAdicionado)="onEnderecoAdicionado()">
    </app-modal-endereco>

    <ng-container *ngIf="enderecos.length === 0; else listaEnderecos">
      <p class="text-gray-600 text-lg w-2/3 text-left">
        Nenhum endereço cadastrado, clique em "Adicionar novo endereço" para cadastrar o primeiro endereço.
      </p>
    </ng-container>

    <ng-template #listaEnderecos>
      <div class="flex flex-wrap gap-4">
        <app-card-endereco *ngFor="let endereco of enderecos" [endereco]="endereco" (editar)="abrirModalEdicao($event)"
          (deletar)="deletarEndereco($event)">
          >
        </app-card-endereco>
      </div>
    </ng-template>
  </app-header-telas-perfil-com-add>
</app-template-telas-perfil>