.bg-background_light {
  background-color: #f5f7fa;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.border-b {
  border-bottom: 1px solid #e2e8f0;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.menu-opcoes {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 24px;
  padding: 4px 0;
  z-index: 100;
  border-radius: 4px;
  min-width: 150px;
}

