<app-template-telas-adm>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-6 place-items-center">

    <div class="group bg-gradient-to-br from-white to-gray-100 rounded-2xl shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all duration-300 ease-in-out w-[360px] h-[220px] flex flex-col justify-center items-center">
      <div class="mb-4 text-primary transition-transform duration-300 group-hover:scale-110">
        <i class="fas fa-users text-5xl"></i>
      </div>
      <div class="flex items-center gap-2">
        <span class="w-4 h-4 bg-green-500 rounded-full inline-block"></span>
        <p class="text-base text-gray-600 font-semibold tracking-wide">Usuários Ativos</p>
      </div>
      <p class="text-4xl font-bold text-gray-800 mt-2">
        {{ numeroDeUsuariosAtivos }}
      </p> 
    </div>

    <div routerLink="/locacoes-realizadas" class="group bg-gradient-to-br from-white to-gray-100 rounded-2xl shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all duration-300 ease-in-out cursor-pointer w-[360px] h-[220px] flex flex-col justify-center items-center" routerLink="/locacoes-realizadas">
      <div class="mb-4 text-green-600 transition-transform duration-300 group-hover:scale-110">
        <i class="fas fa-box-open text-5xl"></i>
      </div>
      <p class="text-base text-gray-600 font-semibold tracking-wide">Locações Realizadas</p>
      <p class="text-4xl font-bold text-gray-800 mt-2">
        {{ quantidadeLocacoes }}
      </p>
    </div>

    <div class="group bg-gradient-to-br from-white to-gray-100 rounded-2xl shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all duration-300 ease-in-out w-[360px] h-[220px] flex flex-col justify-center items-center" routerLink="/denuncias">
      <div class="mb-4 text-red-500 transition-transform duration-300 group-hover:scale-110">
        <i class="fas fa-exclamation-triangle text-5xl"></i>
      </div>
      <p class="text-base text-gray-600 font-semibold tracking-wide">Denúncias</p>
      <p class="text-4xl font-bold text-gray-800 mt-2">
        {{ quantidadeDenuncias }}
      </p>
    </div>

    <div class="group bg-gradient-to-br from-white to-gray-100 rounded-2xl shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all duration-300 ease-in-out cursor-pointer w-[360px] h-[220px] flex flex-col justify-center items-center" routerLink="/valor-bruto" >
      <div class="mb-4 text-yellow-600 transition-transform duration-300 group-hover:scale-110">
        <i class="fas fa-dollar-sign text-5xl"></i>
      </div>
      <p class="text-base text-gray-600 font-semibold tracking-wide">Valor Bruto</p>
      <p class="text-4xl font-bold text-gray-800 mt-2">
        R$ {{ valorBruto | number:'1.2-2' }}
      </p>
    </div>

  </div>
</app-template-telas-adm>
