<app-template-telas-adm>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
        <div class="bg-white rounded-lg shadow-md px-3 py-2 flex items-center justify-center h-40 w-[300px] text-center">
            <div>
              <p class="text-sm font-medium">Usuários Ativos:</p>
              <p class="text-lg font-semibold">100</p>
            </div>
          </div>
      <div class="bg-white rounded-lg shadow-md px-3 py-2 flex items-center justify-center h-40 w-[300px] text-center" routerLink="/locacoes-realizadas">
        <div>
          <p class="text-sm font-medium">Locações Realizadas:</p>
          <p class="text-lg font-semibold">100</p>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md px-3 py-2 flex items-center justify-center h-40 w-[300px] text-center">
        <div>
          <p class="text-sm font-medium">Denúncias:</p>
          <p class="text-lg font-semibold">100</p>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md px-3 py-2 flex items-center justify-center h-40 w-[300px] text-center">
        <div>
          <p class="text-sm font-medium">Valor Bruto:</p>
          <p class="text-lg font-semibold">R$ 100,00</p>
        </div>
      </div>
    </div>
  </app-template-telas-adm>
  